:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #87b1bc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container-all{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  width: 100%;
  border:1px solid black;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding:20px;
  margin:10px;
  background-color: rgb(255, 232, 161);
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
}

.username {
  color:green;
}

.login{
  color:rgb(69, 170, 252);
}

.link{
  color:purple;
}

h3{
  display:flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  border-radius: 100%;
  width:100px;
  padding:10px;
}

ul {
  list-style-type: none;
  font-size: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
